.image-menu {
  height: 300px;
  width: 300px;
  border: 1px solid white;
  position: absolute;
  top: 15%;
  right: 3%;
  z-index: 2000;
  background-color: rgba(255,255,255,.6);
  padding-top: 10px;
  padding-right: 10px;
}

.image-menu img {
  width:90px;
  height: 90px;
  padding: 5px;
  border-radius: 50%;
}

.image-menu img:hover {
  width:95px;
  height: 95px;
}
