.circle {
  color: green;
  padding-right: .3rem;
}

.checkList {
  position: absolute;
  left: 10%;
  width: max-content;
  background: white;
  font-size: 1rem;
  background-color: white;
  z-index: 2000;
  height: 400px;
  overflow: scroll;

}

.checkList li {
  padding: .3rem;
  height: max-content;
  text-align: left;
}

.checkList ul {
  height: 100%;
}
