.createEvent {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .9);
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding-top: 9rem;
  font-size: 2rem;
}

.createEvent button {
  font-size: 1rem;
}

.createEvent button:hover{
  color: black!important;
}

.createEvent i {
  color: black;
}

.createEvent i:hover {
  font-size: 1.5rem;
  color: black;
}

.createEvent * {
  line-height: normal;
}

.createEvent h1, .createEvent h4 {
  color: rgba(0,0,0,.3)
}

.createEvent ::placeholder {
  color: black;
  font-size: 1rem;
}

.createEvent input {
  width: 200px;
  padding: .3rem;
  color: black;
  font-size: 1rem;
}
