ul, li{
  list-style: none;
  list-style-type: none;
  height: 50%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.day-listitem {
  background-color: rgba(255,255,255,.5);
  margin: 2px;
  color: white;
}

ul {
  overflow: scroll;
}

.icon {
  width: 50%;
  position: absolute;
  text-align: right;
  line-height: 1.9rem;
  padding-right: .2rem;
}

.icon-small {
  font-size: .6rem!important;
}
