.sideBar {
  width: 20vw;
  height: 100vh;
  padding: 1rem;
}

.fab {
  color: rgba(0,0,0,.5);
}

.sideBarHeader {
  text-align: center;
  background-color: white;
  color: rgba(0,0,0,.5);
}

#day-view {
  border: 1px solid rgba(255,255,255,.3);
  height: 25vh;
  overflow: scroll;
  padding-left: 5px;
  position: relative;
  text-align: center;
  padding-top: 10%;
}

.event-view {
  text-align: center;
  padding-top: 2rem;
}

#event-list, .event-view {
  border: 1px solid rgba(255,255,255,.3);
  height: 25vh;
  overflow: scroll;
  padding-left: 5px;
}

.sideBar ul {
  display: flex;
  background-color: none!important;
  text-align: center;
  justify-content: space-evenly;
}

.sideBar li {
  list-style: none;
  padding: 5px;
}

.icon-edit {
  display: inline;
}

.sideBar i {
  color: white;
  display: inline;
}
