.userGreeting {
  text-align: center;
  margin: auto;
  padding-top: 10%;
  width: 100vw;
  background-color: black;
  height: 100vh;
}

.userGreeting h4 {
  color: #4284;
}

.userGreeting p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3rem;
  color: rgba(255,255,255,.5);
}

.userGreeting input {
  border: 1px solid white;
  min-width: 200px;
  padding: .3rem;
  font-size: 1rem;

}

::placeholder {
  color: rgba(255,255,255,.5);
}

.userGreeting a {
  color: rgba(255,255,255,.5);
  font-size: .8rem;
}
